body {
    /* background-image: url("chrome://global/skin/media/imagedoc-darknoise.png"); */
    background-color: aliceblue;
    color: #1D2937;
    display:flex;
    height: 100vh;
    margin: 0;
    flex-direction: column;
    font-family: DejaVu Serif, Verdana, sans-serif;
}

.container {
    display: flex;
    justify-content: center;
    width: min(95%, 70rem);
    margin-inline: auto;
    flex-flow: column nowrap;
    
}

header, footer{
    overflow-x: hidden;
    background-color: #1F2937;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

strong.headerTitle {
    font-size: 2rem;
    color: #f9faf8;
    line-height: 1.8rem;
    
}

strong.bottomSignupTitle {
    font-size: 2rem;
    color: #f9faf8;
    line-height: 1.5rem;
}

header a, footer a {
    display:flex;
    color:#fff;
    text-decoration: none;
}

header ul, footer ul{
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    margin: .5rem 0 .5rem 0;
    padding: 0 1rem;
    gap: 1rem;
    flex-flow: row wrap;
}

.headerInfo {
    background-color: #1F2937;
    color: #f9faf8;
    padding: 2rem 4rem;
    display: flex;
    gap: 2rem;
    align-items: center;
    justify-content: center;
    flex-flow: row wrap;
}

.grid-col-span-2 {
    grid-template-columns: repeat(4, 1fr);
}

img.logo {
    border: .1em solid #f9faf8;
    border-radius: .5rem;
    width: 3rem;
    height: auto;
}

img.logoTopSection {
    border: .2em solid #1F2937;
    border-radius: 1.5rem;
    width: 10rem;
    height: auto;
}

img.headerImage {
    border: .1em solid #f9faf8;
    height: auto;
    width: min(95%, 10rem);
    min-width: 10rem;
}

strong.headerTopSection {
    font-size: 2rem;
    color: #1F2937;
    line-height: 1.8rem; 
    text-align: center;   
}

.topSection, .bottomSection {
    background-color: #fff;
    justify-content: center;
    padding: 2rem 6rem;
    display: flex;
    flex-flow: row wrap;
    gap: 1.5rem;
    justify-content: center;
  }

  .topSection {
    padding-block: 2em 6rem;
  }

  ul.topSection {
      list-style: none;
      text-decoration: none;
      display: flex;
      padding: 0;
      grid-template-columns: repeat(4, 1fr);
      justify-items: center;
  }

.section2 {
    background-color: #e5e7eb;
    padding: 2rem 6rem;
    display: flex;
    justify-content: center;
  }

button.signUpTop, button.signUpBottom {
    background-color: #3882F6;
    color: #f9faf8;
    width: 8rem;
    height: 2rem;
    border-radius: .5rem;
    font-weight: 700;
}

button.signUpTop {
    border:0rem solid #f9faf8;
}

button.signUpTop:hover, button.signUpBottom:hover {
    color:#1D2937;
    background-color: #e5e7eb;
    font-weight: 700;
}

button.signUpBottom:hover {
    border: .2rem solid #e5e7eb;
}

button.signUpBottom {
    border:.2rem solid #f9faf8;
    font-size: min(95%, .5rem);
}

.bottomSignUpBox {    
    background-color: #3882F6;
    border-radius: 1rem;
    color: #fff;
    padding: 2em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-flow: row wrap;
}

p.copyright {
      color: aliceblue;
      font-size: .8rem;
}

em.southall {
      color: greenyellow;
}

em.quotes {
    font-size: 1.5em;
}

strong.quotes {
    font-size: 1.5rem;
    color: #1F2937;
    line-height: 1.8rem; 
    text-align: right; 
    font-style: normal;  
}